<!-- Footer -->
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>We are passionate about providing the best products for your furry friends. Our mission is to ensure every dog has a happy and healthy life.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Products</a></li>
                    <li><a href="#" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="www.facebook.com" class="text-white mr-2"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="www.twitter.com" class="text-white mr-2"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="www.instagram.com" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
        <hr class="my-4" style="border-color: rgba(255, 255, 255, 0.5);">
        <p>&copy; 2024 Shashank Dog Store. All rights reserved.</p>
    </div>
</footer>

<!-- Scripts for Font Awesome (for social media icons) -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>